@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    
}
body{
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Inter', sans-serif;
    padding: 20px;
}
/* Light mode styles */
body.light-mode {
    background-color: white;
    color: #404040;
    
  }

  /* Dark mode styles */
  body.dark-mode {
    background-color: #222;
    color:#c8bfbf;
    
  }

  /* Toggle button styles */
  .toggle-btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
  }
 
.showEmoji{
    display: block;
}
.hideEmoji{
    display: none;
}
header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 50px;
    
}
header .header-left {
    display: flex;
    gap: 10px;
    align-items: center;
    
}
/* .time{
    margin-top: 3px;
    background-color: #333;
    color: #fff;
} */
.toggle-btn{
    margin: 0 auto;
    background-color: #444;
}

header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
header .header-right {
    display: flex;
    align-items: center;
}


header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background:#404040;
}
main{
    padding: 5px;
}
h4{
    margin-bottom: 4px;
}
.web-dev{
    color: #555758;
    margin-bottom: 25px;
}
.intro{
    text-align:inherit;
    line-height: 1.5rem;
}
.projects{
    margin: 20px 0;
    text-decoration: underline;
}

.project-link{
    display: flex;
    flex-direction:row;
    gap: 20px;
    color: #333;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.project-link:hover{
    background-color: #555758;
    color: #c8bfbf;
}
.project-icon{
    width: 20%;
   
}
.project-icon img{
    width: 100%;
}
#more{
    background-color:#333;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 5px;
        
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        right: 0;
        width: 100%;
        height: fit-content;
        background-color: #222;
        padding: 30px;
        transition: 0.5s;
        text-align:start;
        /* z-index: -1; */
    }
    header .header-left a{
        padding: 20px;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
    .project-icon{
        width: 50%;
        margin: auto 0;
       
    }
}
